/* for BPMN.html */

/* Diagram and palette area */

@font-face {
    font-family: iransans;
    src: url(../../fonts/iransans.ttf);
}

#myDiagramDiv {
    float: left;
    border: solid 1px blue;
    height: 600px;
    background-color: ghostwhite;
}

#controls {
    border: solid 1px gray;
    width: 300px;
    background: #ffffff;
    padding: 5px;
    float: left;
}

#description {
    float: left;
    margin-left: 4px;
}

#PaletteAndDiagram {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#sideBar {
    float: left;
    text-align: center;
    border: 1px solid gray;
    padding-right: 14px;
    padding-left: 2px;
}

.myPaletteDiv {
    width: 100%;
    min-height: 300px;
    overflow-x: hidden !important;
}

#accordion {
    margin: 0;
    width: 97%;
}

#myOverviewDiv {
    width: 100%;
    height: 225px;
}

/* top bar area */

.ui-accordion .ui-accordion-content {
    padding: 1px;
}

#menuui {
    height: 30px;
    width: 100%;
}

    #menuui > li {
        float: left;
    }


input {
    text-align: center;
    font-size: large;
    float: left;
}

#myOverviewDiv {
    background-color: lightgray;
}

#currentFile {
    background: #1874CD;
    width: 100%;
    text-align: center;
    font-family: iransans, Arial, tahoma;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 0;
    color: white;
}

.draggable {
    display: inline-block;
    vertical-align: top;
    border: 1px solid gray;
    background-color: #e2e2e2;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 200px;
    z-index: 500;
}

.handle {
    background-color: #9CCB19;
    text-align: center;
    font: bold 12px sans-serif;
}

.elementText {
    font-family: iransans, Arial, tahoma;
    font-size: medium;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mySavedFiles {
    font-family: iransans, Arial, tahoma;
    font-size: medium;
    width: 250px;
    margin-left: 25px;
}

.elementBtn {
    margin-top: 20px;
    font-family: iransans, Arial, tahoma;
    font-size: medium;
    margin-left: 20px;
}

/* sample thumbnails bottom area */

figure {
    display: inline-block;
    margin: 10px;
}

div.infoTitle {
    width: 50%;
    font-weight: normal;
    color: #777777;
    float: left;
}

div.infoValues {
    width: 50%;
    text-align: left;
    float: left;
}

label:hover, label:focus {
    background: #CEDFF2;
}

.aline {
    clear: both;
    width: 100%;
}

.tooltipTitle {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.frm {
    padding: 10px 40px;
}

#frmNodeEditor {
    padding: 10px;
    font-family: iransans, Arial, tahoma;
    font-weight: lighter;
    font-size: 9pt;
}

    #frmNodeEditor input {
        font-size: 9pt;
    }

    #frmNodeEditor label {
        padding: 3px 0;
    }
